.sign-up {
    // padding-top:150px ;
    height: 100vh;
    min-height: 750px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sign-up_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(159, 159, 159);
        background-color: rgb(53, 53, 53);
        padding: 20px 0 ;
        align-self: center;
        min-width: 350px;
        width: 60%;
        border-radius: 16px;
        gap: 20px;
        .input-container {
            display: flex;
            flex-direction: column;
            .input-label{
                color: #fff;
                text-align: left;
                margin: 0 0 10px;
                font-size: 14px;
                font-weight: 500;
            }
            .input {
                height: 50px;
                min-width: 300px;
                border: 0;
                outline: none;
                padding-left: 20px ;
                border-radius: 8px;
                &:focus{
                    transition: all .2s ;
                    border-width: 2px ;
                    border-style: solid;
                    border-color: rgb(139, 22, 143);
                }
            }
            .error{
                font-size: 13px;
                margin-top: 4px;
                color: rgb(174, 15, 15);
            }
        }
        .submit-button {
            height: 50px;
            width: 35%;
            min-width: 270px;
            border-radius: 8px;
            border: 0;
            background-color:  rgb(139, 22, 143);
            color: #FFF;
            font-weight: 600;
            transition: all .3s ;
            &:hover{
                transition: all .3s ;
                transform: scale(0.97);
            }
            &:active{
                transition: all .3s ;
                transform: scale(0.9);
            }
        }
    }
    
}



@media only  screen and (max-width: 425px) {
    .sign-up {
        padding-top:100px ;
        background-color: rgba(25, 25, 25,1);
        .sign-up_form { 
            min-width: 320px;
            .input {
                min-width: 260px;
                padding-left: 16px ;
            }
        }
    }
}